<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>icon</key>
		<string>http://p16.qhimg.com/dr/48_48_/t0125e8d438ae9d2fbb.png</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人2</string>
		<key>icon</key>
		<string>http://p19.qhimg.com/dr/48_48_/t0101e2931181bb540d.png</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t012d281e8ec8e27c06.png</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>http://p18.qhimg.com/dr/48_48_/t0184f949337481f071.png</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t015f10076f95e27e74.png</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼小顽皮</string>
		<key>icon</key>
		<string>http://p16.qhimg.com/dr/48_48_/t01885f5596e1d30172.png</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>http://p19.qhimg.com/dr/48_48_/t0164ad383c622aabef.png</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t017bc3cfcf3981b197.png</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>http://p18.qhimg.com/dr/48_48_/t012fea7312194537c2.png</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪大冒险</string>
		<key>icon</key>
		<string>http://p18.qhimg.com/dr/48_48_/t01e61cbba53fb9eb82.png</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>http://p18.qhimg.com/dr/48_48_/t0108c33d3321352682.png</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我叫MT </string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t01077fd80ffb5c8740.png</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3D终极狂飙</string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t01f55acd4a3ed024eb.png</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杀手2</string>
		<key>icon</key>
		<string>http://p16.qhimg.com/dr/48_48_/t018f89d6e0922f75a1.png</string>
		<key>download</key>
		<string>1951万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯方块</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/dr/48_48_/t0183a670f1dbff380f.png</string>
		<key>download</key>
		<string>1290万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刀塔传奇</string>
		<key>icon</key>
		<string>http://p16.qhimg.com/dr/48_48_/t01c3f62a27c3de7af5.png</string>
		<key>download</key>
		<string>1249万</string>
	</dict>
</array>
</plist>
