<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>让 WKWebView 支持 NSURLProtocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D349AC81E7B8E7F0004FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D349AE11E7B8E800004FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D349AEC1E7B8E800004FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
