<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>对KeyChain实现数据的增删查改.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D6D5A8A1C475F5D0011D75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6D5AA31C475F5D0011D75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6D5AAE1C475F5D0011D75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
