<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>大图浏览.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DB1223A1C25047F002A6F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB122531C25047F002A6F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB1225E1C25047F002A6F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
