<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loading动画的实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D7A75111C2FF7BE0014B1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7A752A1C2FF7BE0014B1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7A75351C2FF7BE0014B1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
