<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALayer 和 UIView的区别和联系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D15AA3C1C13D5D9008ECB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D15AA551C13D5D9008ECB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D15AA601C13D5D9008ECB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
